<%- include('../partials/header.ejs') %> 
<body x-data="{}">
    <h1>This page is <%= title %> </h1>
    <a href="/article/create">New Article</a>
    <h4>List of article using ejs (from mongo atlas) : </h4>

    <% if(articles.length > 0) { %>
        <% articles.forEach(function(item) { %>
            <h3><%= item.title %></h3>
            <small><%= item?.createdAt ?? new Date().toLocaleDateString("id-ID") %> </small>
            <p><%= item.body %> </p>
            <small> <i> <b> Author: <%= item.author %> </b></i></small> <br>
            <a href="/article/edit/<%= item._id %> ">Edit</a>
            <button onclick="deleteArticle('<%= item._id %>')">Delete</button>
            <hr>
        <% }); %>
    <% }else{ %>
        <h3>No Article</h3> 
    <% } %>
</body>
<script>
    function deleteArticle(id) {
        fetch('/article/delete/' + id, {
            method: 'DELETE'
        })
        .then(res => res.json())
        .then(res => {
            if(res.code == 1){
                window.location.href = '/article'
            }else{
                console.log(res.message);
            }
        })
    }
</script>
</html>